<% if gallery.categories_images.empty? %>
  <div class="image" id="gallery_<%= gallery.id %>">
    <div class="image-placeholder">
      <h3><%= icon("television") %><%= gallery.title %></h3>
      <p>This gallery needs some images.</p>
      <p>Add images by adding categories.</p>
      <p>Look under this line and click edit.</p>


    </div>
    <div class="overlay">
      <%= link_to icon("pencil-square-o"), edit_gallery_path(gallery), remote: true %>
      <%= link_to icon("trash"), gallery_delete_path(gallery), remote: true %>
    </div>
  </div>
<% else %>
  <div class="image"  id="gallery_<%= gallery.id %>">
    <%= link_to image_tag(gallery.categories_images.first.file_url), gallery %>
    <div class="overlay-title">
      <h3 class="title"><%= link_to gallery.title, gallery %></h3>
    </div>

    <div class="overlay">
      <%= link_to icon("pencil-square-o"), edit_gallery_path(gallery), remote: true %>
      <%= link_to icon("trash"), gallery_delete_path(gallery), remote: true %>
    </div>
  </div>

<% end %>
