<h1><%= current_user.name %>'s Galleries</h1>
<div class="row">
	<% @galleries.each do |gallery| %>
		<% unless gallery.categories_images.empty? %>
    <div class="image">
      <%= link_to image_tag(gallery.categories_images.first.file_url), gallery %>
      <div class="overlay">
        <button type="button" name="edit" class="overlay-button"><%= link_to 'Edit', edit_gallery_path(gallery) %></button>

        <button type="button" name="delete" class="overlay-button"><%= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' } %></button>

      </div>
    </div>


		<% end %>
	<% end %>
	<div class="image">
		<%= button_to "New Gallery", new_user_gallery_path(current_user), method: :get, remote: true, class: "placeholder"%>
	</div>
</div>
