<h1><%= current_user.name %>'s Galleries</h1>
  <div class="row">
		<%= link_to "new gallery", new_user_gallery_path, remote: true, class: "btn btn-primary" %>
	</div>
<div class="row gallery-index" id="galleries-list">
	<%= render "gallery" %>
</div>
<div id="gallery-modal" class="modal fade"></div>



<% if false %>
  <!-- Modal Gallery Form-->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Create a Gallery</h4>


	      </div>
	      <div class="modal-body">
	        <%= render "form" %>
	      </div>
	    </div>
	  </div>
	</div>

<% end %>
<% if false %>
  <div class="image">
		<button type="button" class="fa fa-television placeholder">
			<%= link_to "New Gallery", new_user_gallery_path, remote: true %>
		</button>
	</div>
<% end %>
