<%= simple_form_for shallow_args(current_user, @image) do |f| %>
	<ul class="errors"></ul>


<div class="image-category-form-group">
	<div class="fileinput fileinput-new" data-provides="fileinput">
		<div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">	<%= image_tag(@image.file_url(:index).to_s) %></div><br>
		<div class="image_select_buttons">
			<span class="btn btn-primary btn-file"><%= f.file_field :file, class: "fileinput-new" %>Select image</span>
			<%# f.hidden_field :file_cache %>
			<a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
		</div>
	</div>

	<br>

		<%# Assign Categories to Images %>


	<div class="image-category">
		<%= f.label :category_ids, "Categories" %><br>
		<%= f.collection_select :category_ids,  current_user.categories.all, :id, :name, {}, { multiple: true } %>
	</div>

</div>



	<% if false %>
		<%# Set Dates %>

		<div class="container">
			<%# Assign start_at date to image %>

			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">

						<div class="checkbox-inline">
							<input type="checkbox" id="awakeStartSelect"/>
							<%# label_tag :start_at, 'Choose Start Date' %>
							<div class="input-group date" id="datetimepicker">
								<%# f.text_field :start_at, class: 'form-control', value: @image.start_at.try(:strftime, "%m/%d/%Y %I:%M %p") %>
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
					</div>
				</div>

				<%# Assign end_at date to image %>
					<div class="col-sm-4">
						<div class="form-group">
							<div class="checkbox-inline">
								<input type="checkbox" id="awakeEndSelect"/>
								<%# label_tag :end_at, 'Choose End Date' %>
								<div class="input-group date" id="datetimepicker1">
									<<%#  %>%= f.text_field :end_at, class: 'form-control', value: @image.end_at.try(:strftime, "%m/%d/%Y %I:%M %p") %>
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	<% end %>
	<div class="add-cancel-buttons">
		<%= f.button :submit, "Add" %><br>
		<%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
	</div>

<% end %>
