<h1>Editing Image</h1>
<div class="image">
  <%= image_tag(@image.file_url(:index).to_s) %>
</div>
<br>

<%= render 'form' %>

<%= link_to 'Show', @image %> |
<%= link_to 'Back', :back %>
<%= link_to 'Dashboard', user_path(current_user) %>
