<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand"><a href="#">Welcome</a></li>
        <% if user_signed_in? %>
          <li><%= link_to "Dashboard", user_path(current_user) %></li>
          <li><%= link_to "Galleries", user_galleries_url(current_user) %></li>
          <li><%= link_to "Categories", user_categories_path(current_user) %></li>
          <li><%= link_to "Images", user_images_path(current_user) %></li>
          <li><%= link_to "Settings", edit_user_registration_path %></li>
        <% end %>
        <li><a href="#">Contact</a></li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->
