<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ad Board" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Ad Board" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
<body id="<%= controller_name %>" class="<%= action_name %>">
  <header>
      <%= render 'layouts/navigation' %>
  </header>
  <main role="main">
    <div id="wrapper">
      <%= render 'layouts/sidebar' %>
      <div id="page-content-wrapper">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </div>
  </main>
</body>
</html>
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>
